* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Open Sans", sans-serif;
  background-color: aliceblue;
  list-style: none;
}

body {
  height: 100vh;
  width: 100vw;
  border: red solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  position: relative;
  height: 600px;
  width: 400px;
  border: black 1px solid;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgb(27 22 22 / 39%);
}

.sliding-part {
  position: absolute;
  height: 530px;
  width: 400px;
  border: black 1px solid;
  border-radius: 15px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
  background-color: rgb(27 22 22 / 39%);
  transform: translateX(0px);
  transition: transform 2s;
}

.computation-history {
  height: 490px;
  width: 400px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  margin-left: 10px;
  padding-top: 10px;
}

.computation-history.visility {
  visibility: visible;
}

.clear-history-btn {
  width: 100px;
  margin-left: 10px;
  border-radius: 15px;
  
}

  

.history-btn,
.child {
  border: 1px black solid;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.sliding-part.slide {
  transform: translateX(200px);
  transition: transform 2s;


}

.screen {
  height: 70px;
  grid-column-start: 1;
  grid-column-end: 5;
  border-radius: 15px;
  display: grid;
  align-items: center;
  padding-left: 40px;
}

.operator {
  background-color: orange;
}

.symbol {
  background-color: grey;
}

.child output {
  padding-left: 40px;
}

.zero {
  grid-column-start: 1;
  grid-column-end: 2;
}



