* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Open Sans", sans-serif;
  background-color: aliceblue;
}

body {
  height: 100vh;
  width: 100vw;
  border: red solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  height: 600px;
  width: 400px;
  border: black 1px solid;
  border-radius: 15px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
  background-color: rgb(27 22 22 / 39%);
}

.child {
  border: 1px black solid;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius:  15px;
}

.output {
  grid-column-start: 1 ;
  grid-column-end: 5;
}

.operator {
  background-color: orange;
}

.symbol {
  background-color: grey;
}

.child output {
  padding-left: 40px;
}

















